<div style="width: 100%;height: 4rem;background-color: white; position: fixed; z-index: 1; box-shadow: 0 2px 5px gray">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="row">
            <div class="d-flex" id="search_box_product" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" id="btn_search_product" type="submit">Search</button>
                <a href="/product/add"><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_product_model" style="width: 8rem;margin-left: 2rem">New product</button></a>
            </div>
            </div>
        </div>
    </nav>
</div>
<div style="padding-top: 3rem; padding-bottom: 1rem">
    <% for (let i = 0; i < 20; i++){ %>
        <div class="card" style="width: 18rem; margin-right: 1.5rem; margin-top: 2rem;display: inline-block">
            <img src="https://cdn-amz.woka.io/images/I/61r9IqcspNL.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h5 class="card-title">Category: anime</h5>
                <h5 class="card-title">Price: 2.0$</h5>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/product/edit/3"><button type="button" class="btn btn-primary">Update</button></a>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    <% } %>
</div>