<div style="text-align: center">
    <h1 class="mt-3">Update supplier</h1>
</div>
<div class="add-form mt-5 col-sm-11">
    <div class="mb-3">
        <label for="pro_name" class="form-label">Supplier name</label>
        <input type="text" class="form-control" id="pro_name" placeholder="Supplier name">
    </div>
    <div class="mb-3">
        <label for="pro_name" class="form-label">Address</label>
        <input type="text" class="form-control" id="pro_name" placeholder="Address">
    </div>
    <div style="text-align: end">
        <input type="button" class="btn btn-success" value="Update">
        <input type="button" class="btn btn-warning" value="cancel">
    </div>
</div>