<div style="text-align: center">
    <h1 class="mt-3">Update supplier</h1>
</div>
<div class="add-form mt-5 col-sm-11">
    <div class="mb-3">
        <label for="txt_sup_name" class="form-label">Supplier name</label>
        <input type="text" class="form-control" id="txt_sup_name" placeholder="Supplier name" value="<%= supplier[0].sup_name %>">
        <span id="empty_name" class="bi-x-circle-fill" style="vertical-align: -webkit-baseline-middle; color: red; display: none"></span>
    </div>
    <div class="mb-3">
        <label for="txt_sup_address" class="form-label">Address</label>
        <input type="text" class="form-control" id="txt_sup_address" placeholder="Address" value="<%= supplier[0].sup_address %>">
        <span id="empty_address" class="bi-x-circle-fill" style="vertical-align: -webkit-baseline-middle; color: red; display: none"></span>
    </div>
    <div style="text-align: end">
        <input type="button" class="btn btn-success" id="btn_submit_supplier" value="Update" data-sup-id="<%= supplier[0].sup_id %>">
        <a href="/supplier"><input type="button" class="btn btn-warning" value="cancel"></a>
    </div>
</div>