<div style="width: 100%;height: 4rem;background-color: white; position: fixed; z-index: 1; box-shadow: 0 2px 5px gray">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="d-flex" id="search_box_product" role="search">
                <a href="/category/add"><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_product_model" style="margin-left: 2rem">New category</button></a>
            </div>
        </div>
    </nav>
</div>
<div style="padding-top: 5rem">
<table class="table table-hover pt-10">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% for (let i=0; i<100;i++){ %>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>
            <div class="btn-group" role="group">
                <a href="/category/edit/3"><button type="button" class="btn btn-primary">Edit</button></a>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>
</div>