<div style="text-align: center">
    <h1 class="mt-3">Add new shop</h1>
</div>
<div class="add-form mt-5 col-sm-11">
    <div class="mb-3">
        <label for="shop_name" class="form-label">Name</label>
        <input type="text" class="form-control" id="shop_name" name="shopName" placeholder="shop name">
        <span id="empty_name" class="bi-x-circle-fill" style="vertical-align: -webkit-baseline-middle; color: red; display: none"></span>
    </div>
    <div class="mb-3">
        <label for="shop_address" class="form-label">Address</label>
        <input type="text" class="form-control" id="shop_address" name="shopAddress" placeholder="Address">
        <span id="empty_address" class="bi-x-circle-fill" style="vertical-align: -webkit-baseline-middle; color: red; display: none"></span>
    </div>
    <div style="text-align: end">
        <input type="button" class="btn btn-success" id="btn_submit_add_shop" value="Add">
        <a href="/supper-admin/shop/management"><input type="button" class="btn btn-warning" value="cancel"></a>
    </div>
</div>
